.container{

    margin-top: 100px;
}

.green-text {
    color: darkgreen;
}

.back {
    background-image: url("pexels-thirdman-7656721.jpg");
    background-repeat: no-repeat;
    background-size: auto;
   object-fit: cover;

}

body, html {
  height: 100%;
}